.main{
    width: 1600px;
    height: 900px;
    background-color: #fff;
}

.top_nav{
    width: auto;
    height: auto;
}

.left_nav{
    width: 100px;
    height: 15px;
    list-style: none;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 15px;
}

a{
    text-decoration: none;
}

.left_nav li{
    float: left;
    font-size: 15px;
    color: #222;
    text-decoration: none;
    margin-left: 10px;
}

.left_nav li a:hover{
    float: left;
    font-size: 15px;
    color: #222;
    text-decoration: underline;
}

.right_nav{
    width: 210px;
    height: 10px;
    font-size: 15px;
    color: #222;
    list-style: none;
    text-decoration: underline;
    margin-left: 1590px;
    margin-top: -20px;
}

.right_nav li{
    float: left;
    font-size: 15px;
    margin-left: 10px;
    color:#222;
    text-decoration: none;
}

.right_nav li a:hover{
    float: left;
    font-size: 15px;
    color: #222;
    text-decoration: underline;
}

.button{
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 13px;
    cursor: pointer;
    border-radius: 1px;
}

.button1{
    background-color:#4285f4;
}

.google_logo{
    margin-top: 175px;
    margin-left: 775px;
}

.search{
    width: 100%;
    display: flex;
}

.search_bar{
    width: 575px;
    border: 1px solid #2222;
    padding: 5px;
    height: 35px;
    border-radius: 25px;
    color: #2222;
    margin-top: 30px;
    margin-left: 620px;
    background-image: url(images/search.png);
    background-position: left 15px;
    background-position-x: 15px;
    background-repeat: no-repeat;
    position: absolute;
}

.mic{
    width: 30px;
    height: 30px;
    border: none;
    margin-top: 30px;
    margin-left: 1150px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.google_search{
    width: auto;
    height: auto;
    margin-top: 100px;
    position: absolute;
    margin-left: 760px;
}

.feeling_lucky{
    width: auto;
    height: auto;
    margin-top: 100px;
    position: absolute;
    margin-left: 900px;
}

.search0{
    padding: 10px 20px 10px 20px;
    color:#5F6368;
    border: none;
}

.lucky0{
    padding: 10px 20px 10px 20px;
    color: #5F6368;
    border: none;
}

.footer{
    width: 1840px;
    height: 40px;
    background-color:#f2f2f2;
    margin-top: 548px;
    border-top: 1px solid #e4e4e4;
}

.footer_sol li{
    list-style: none;
    text-decoration: none;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 14px;
    color: #5f6368;
    font-family: Arial, Helvetica, sans-serif;
}

.footer_sag{
    margin-left: 1600px;
}
.footer_sag li{
    list-style: none;
    text-decoration: none;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 14px;
    color: #5f6368;
    font-family: Arial, Helvetica, sans-serif;
}